<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'WorkoutApp/styles.css' %}" />
        
        
    </head>
    <body>


        <!---->
        <div id="floatingNav">
            <button type="submit"><a href="/"> Home </a></button>
            
            {% if user.is_authenticated %}
            <button type="submit"><a href="/CreateWorkout"> New Workout </a></button>
            <button type="submit"><a href="/ProfilePage"> Profile Page </a></button>
            <button type="submit"> <a href="/SignOut"> Sign Out </a> </button>
            {% else %}
            <button type="submit"> <a href="/SignIn"> Sign In </a> </button>
            {% endif %}

            <button type="submit"><a href="/MoreInfo"> More Info </a></button>
        </div>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        





        {% if user.is_authenticated %}
        <h3> Hello {{ user.first_name }} , Welcome to WorkoutApp</h3>
        
        {% else %}
        <h3>Please create an account</h3>
        <button type="submit"> <a href="/CreateAccount">Create Account</a> </button>
        <h4>Or if you have an account, please sign in.</h4>

        {% endif %}

        
        <h1>
            Overview
        </h1>
        <p>
            WorkoutApp is a free workout and calorie tracker that helps you log, track, and view your fitness history.


        </p>
        
        <div id="header">
        <div class="scrolling-images">
            <div class="images fade">
                <img src="{% static 'images/gymicons.jpg' %}" style="width:100%; height: 400px">
            </div>

            <div class="images fade">
                <img src="{% static 'images/fitness.jpg' %}" style="width:100%; height: 400px">
            </div>

            <div class="images fade">
                <img src="{% static 'images/training.jpg' %}" style="width:100%; height: 400px">
            </div>

            <!--<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>-->
        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>            
        <!--need to make a professional looking header here-->
        <!--includes logo and site name-->

        </div>

        <!--jhowar63
        Create Workout button will bring authenticated users to the CreateWorkout page
        <h4>Future Create Workout Button</h4> -->
        
    
        <!-- <button type="submit"> <a href="/SignIn">Sign In</a> </button> -->
        
        <div id="footer">
            

            <!--Implement buttons here, any credit needed, contact us, links to any socials, etc-->
    
        </div>


        <!-- Sticky script for floating nav -->
        <script>
            window.onscroll = function() {myFunction()};
            
            var navbar = document.getElementById("floatingNav");
            var sticky = navbar.offsetTop;
            
            function myFunction() {
              if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
              } else {
                navbar.classList.remove("sticky");
              }
            }
        </script>

        <!-- Script for scrolling images -->
        <script>
            let slideIndex=1;
            showSlides(slideIndex);

            function currentSlide(n){
                showSlides(slideIndex=n);
            }

            function plusSlides(n){
                showSlides(slideIndex+=n)
            }

            function showSlides(n){
                let i;
                let slides=document.getElementsByClassName("images");
                let dots = document.getElementsByClassName("dot");
                if (n > slides.length){
                    slideIndex=1;
                }
                if (n < 1){
                    slideIndex= slides.length;
                }
                for (i = 0; i < slides.length; i++){
                    slides[i].style.display="none";
                }
                for (i = 0; i < dots.length; i++){
                    dots[i].className = dots[i].className.replace(" active","");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " active";

            }


        </script>


        <script src="" async defer></script>
    </body>
</html>