<!DOCTYPE html>
{%load static%}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'WorkoutApp/styles.css' %}" />
    </head>
    <body>
    <div id="header">
            
        <!--need to make a professional looking header here-->
        <!--includes logo and site name-->
    
    </div>


    <div id="floatingNav">
        <button type="submit"><a href="/"> Home </a></button>

        {% if user.is_authenticated %}
        <button type="submit"><a href="/CreateWorkout"> Add Workout </a></button>
        <button type="submit"><a href="/ProfilePage"> Profile Page </a></button>
        <button type="submit"> <a href="/SignOut"> Sign Out </a> </button>
        {% else %}
        <button type="submit"> <a href="/SignIn"> Sign In </a> </button>
        {% endif %}

        <button type="submit"><a href="/MoreInfo"> More Info </a></button>
    </div> 

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <h3>More Info</h3>
    <h1>For workout or diet ideas we have provides some links below!</h1>
    <img src="{% static 'images/Gym-structure.png'%}" width="540" height="337.5">
    <br><br>
    <a href="https://www.strongerbyscience.com">Keep Up With The Latest Workout Guides and Content! - Stronger By Science</a>
    <br><br>
    <a href="https://www.menshealth.com/uk/fitness/a33258950/military-army-workouts/">Complete Collection of Military and Special Forces Workouts! - Mens Health</a>
    <br><br>
    <a href="https://www.healthline.com/health/fitness-exercise/10-best-exercises-everyday">10 Good Exercises To Do Daily! - HealthLine</a>
    <br><br>
    <a href="https://www.muscleandstrength.com/workout-routines">Some Free Workout Routines! - Muscle And Strength</a>
    <br><br>
    <img src="{% static 'images/Food_image.jpg'%}" width="540" height="337.5">
    <br><br>
    <a href="https://www.nhs.uk/live-well/eat-well/how-to-eat-a-balanced-diet/eight-tips-for-healthy-eating/">8 Tips For Eating Healthy! - NHS</a>
    <br><br>
    <a href="https://www.healthline.com/nutrition/25-best-diet-tips">25 Diet Tips to Lose Weight and Improve Health - HealthLine</a>


</html>