body{
    background-color: powderblue;
}
h3{
    color:white;
    border: 2px solid black;
    background-color: blue;
}
a{
    
}
#floatingNav a{
    float: left;
    display: block;
    color:darkcyan;
    text-align:center;
    padding: 14px;
    text-decoration: none;
    background-color:blue;
    border:2px solid black;
}